{% extends 'general-template.html'  %}
{% block content %}

<h1>{{ data.image_id }}</h1>


<table>
    <tr>
        <th>Classes</th>
        <th>Relations</th>
        <th>Image</th>
    </tr>
  

    <tr>
       
        <td>
            {% for result in data.results1 %}
            <a href=" /image_search?description={{ result[0] }}">{{ result[0] }}</a>
            <br>
            {% endfor %}
        </td>
        <td>
           
            {% for result in data.results %}
            <a href="/relation_search?relation={{ result[1] }}&class1={{result[0]}}&class2={{result[2]}}">{{ result[0]}} {{ result[1]}} {{ result[2] }}</a>
            <br>
            {% endfor %}
        </td>
        <td>
            <a href="https://storage.googleapis.com/bdcc-proj-images/bdcc-proj-vcm/img/images/{{ data.image_id }}.jpg">
                <img width="300" src="https://storage.googleapis.com/bdcc-proj-images/bdcc-proj-vcm/img/images/{{ data.image_id  }}.jpg"/>
            </a>
        </td>
    </tr>
    

</table>

{% endblock %}


